body{
    background-color:blanchedalmond
}
h1 {
    color:maroon;
    text-align: center;
    text-decoration-line: underline;
    font-style: italic;
}
.resize {
    width: 250px;
    height: 300px;
    float: inline-start;
}
.column{
    width:1050px;
    float:right;
}
